* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Tipografías importadas desde Google Fonts*/
.fredericka-the-great-regular {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}

.gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}


.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*Tipografías importadas localmente*/
.fredericka {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}

.hallelujah {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}
